{% extends "base.html" %}

{% block title %}
Database
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Answers</h1>
    {% if tables|length > 0 %}
        {% for item in tables %}
        <div class="alert alert-info">
            <h3>Request № {{ item.id }}</h3>
            <p><b>Code</b></p>
            <pre><code class="language-python">{{ item.code }}</code></pre>
            <p><b>Stdi</b>n</p>
            <pre><code class="language-python">{{ item.stdin }}</code></pre>
            <a href="/database/{{ item.id }}" class="btn btn-warning">More</a>
        </div>
        {% endfor %}
    {% else %}
    <p>Don't get any request</p>
    {% endif %}
</div>
{% endblock %}