{% extends "base.html" %}

{% block title %}
Request № {{ table.id }}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Request № {{ table.id }}</h1>
    <div class="element">
        <h4>Code</h4>
        <pre><code class="language-python">{{ table.code }}</code></pre>
        <h4>Stdin</h4>
        <pre><code class="language-python">{{ table.stdin }}</code></pre>
        <h4>Stdout</h4>
        <pre><code class="language-python">{{ table.stdout }}</code></pre>
        <h4>Stderr</h4>
        <pre><code class="language-python">{{ table.stderr }}</code></pre>
        <a href="/database/{{ table.id }}/update" class="btn btn-success">Edit</a>
        <a href="/database/{{ table.id }}/delete" class="btn btn-danger">Delete</a>
    </div>
</div>
{% endblock %}